## Andrew Morris INST 414

In [27]:
# Imports
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
import chardet

In [30]:
with open("glassdoor_comany.csv", 'rb') as f:
    result = chardet.detect(f.read())
encoding = result['encoding']
df = pd.read_csv("glassdoor_comany.csv", encoding=encoding)

In [31]:
df.head(5)

,Company Name,Company rating,Company reviews,Company salaries,Company Jobs,Location,Number of Employees,Industry Type,Company Description
0,Amazon,3.8,168.8K,201.7K,201.7K,25 office locations in United States,10000+ Employees,Internet & Web Services,"All Amazon teams and businesses, from Prime de..."
1,Deloitte,4.1,97.2K,167.4K,167.4K,23 office locations in United States,10000+ Employees,Accounting & Tax,Think a professional services career is nothin...
2,Target,3.6,75K,116.1K,116.1K,4 office locations in United States,10000+ Employees,General Merchandise & Superstores,Target is one of the world’s most recognized b...
3,McDonald's,3.5,117K,71.7K,71.7K,110 N Carpenter Street,10000+ Employees,Restaurants & Cafes,McDonald’s is proud to be one of the most reco...
4,Accenture,4.0,145.1K,53.6K,53.6K,United States,10000+ Employees,Business Consulting,Accenture is a global professional services co...

In [ ]:
# fill NaN values with an empty string
df = df.fillna('')

In [38]:
# concatenate the string columns
df['all_text'] = df['Company Name'] + ' ' + df['Company reviews'] + ' ' + df['Company salaries'] + ' ' + df['Company Jobs'] + ' ' + df['Location'] + ' ' + df['Industry Type'] + ' ' + df['Company Description']

vectorizer = TfidfVectorizer()
tfidf_matrix = vectorizer.fit_transform(df['all_text'])

# IBM  
entry_index = 7 

# calculate cosine similarity between the selected entry and all other entries
cos_sim = cosine_similarity(tfidf_matrix[entry_index:entry_index+1], tfidf_matrix)

# get the top 10 most similar entries
top_10 = cos_sim[0].argsort()[-11:-1][::-1]  

print("Most similar entries to entry number", entry_index)
for index in top_10:
    print(df.iloc[index]['Company Name'])

Most similar entries to entry number 7
MSX International
SSE
Cognizant Softvision
Cognizant Technology Solutions
Tata Consultancy Services (North America)
MetLife
ServiceNow
GE Power
Bain & Company
72andSunny

In [39]:
# Credit Suisse  
entry_index = 135 

# calculate cosine similarity between the selected entry and all other entries
cos_sim = cosine_similarity(tfidf_matrix[entry_index:entry_index+1], tfidf_matrix)

# get the top 10 most similar entries
top_10 = cos_sim[0].argsort()[-11:-1][::-1] 

print("Most similar entries to entry number", entry_index)
for index in top_10:
    print(df.iloc[index]['Company Name'])

Most similar entries to entry number 135
Union Bank
Bank of the West
Banque Nationale du Canada/National Bank of Canada
Standard Bank Group
ICICI Bank
U.S. Bank
Axis Bank
First Hawaiian Bank
Commerzbank
Natwest

In [40]:
# US Army 
entry_index = 17 

# calculate cosine similarity between the selected entry and all other entries
cos_sim = cosine_similarity(tfidf_matrix[entry_index:entry_index+1], tfidf_matrix)

# get the top 10 most similar entries
top_10 = cos_sim[0].argsort()[-11:-1][::-1]  # we use -11:-1 to exclude the selected entry itself

print("Most similar entries to entry number", entry_index)
for index in top_10:
    print(df.iloc[index]['Company Name'])

Most similar entries to entry number 17
Waterworks Aquatics
NTT Ltd.
Nexient
BELAY
Manhattan Associates
Tempo-Team
DHL Express
Reed
Juniper Networks
Quest Global